body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  /* color: #fff; */
  font-family: "Work Sans",sans-serif;
}

h1{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -.04em;
  color: #181818;
}
.logo{
  width: 50px;
  height: 50px;
}

#about-crypto{
  margin-top: 10%;
}

#learn{
  background-image: url("../public/background.png");
  margin-top: 10%;
}

#bitcoinfeatures{
  margin-top: 10%;
}

#Features{
  background-image: url("../public/background.png");
  margin-top: 10%;
  /* margin-left: 6%; */
}

#articles{
  margin-top: 10%;
}

#mission{
  margin-top: 3%;
  /* background-image: url("../public/background.png"); */
}

#footer{
  margin-top: 10%;
  background-color: #007aff;
  color: #fff;
}

#ultimate-store-of-value{
  text-align: center;
  /* background-image: url("../public/background.png"); */
}

#melting-ice{
  margin-top: 9%;
  margin-left: 6%;
  margin-bottom: 5%;
}

#Learn-Crypto-Basics{
  text-align: center;
}

#understand-crypto{
  margin-top: 9%;
  margin-left: 6%;
}

.navbar-expand-lg .navbar-nav {
    margin-left: 70px;
  }
.nav-header{
  background-color: #007aff;
}
.nav-nav{
  text-align: right;
}

.nav-list{
  padding-left: 30%;
  text-align: right;
}

button.nav-nav{
  text-decoration: none;
    color: #2769ff;
    background-color: #fff;
    border-radius: 6px;
    transition: .2s ease;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

button.nav-nav:hover{
  background-color: #d9e2ed;
   color: #2769ff;
}

button.join{
    text-decoration: none;
    color: #2769ff;
    background-color: #fff;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 10px;
}

button.join:hover{
   color: #2769ff;
}


.Hero-Section{
  background-color: #007aff;
  background-position: top;
  position: relative;
  width: 100%;
  text-align: center;
  /* margin: 0; */
  /* padding: 0; */
  margin-top: 0.1%;
  background-image: url("../public/background.png");
}

small{
  font-size: 20px;
  animation: jello;
}

.learn-img{
  position: absolute;
  left: 0;
  margin-top: -100px;
  /* text-align: center; */
  width: 312px;
  animation: backInLeft;
  animation-duration: 3s;
}

input.search{
  height: 35px
}

input.cta{
  border-radius: 10px;
  /* border: 0; */
  border-style: none;
  border-color: #007aff;
  width: 30%;
  height: 50px;
  padding-left: 20px;
  color: grey;
}

h1.cta{
  font-weight: 800;
  font-size:46px;
  /* font-family: "cinzel"; */
  color: #fff;
  animation: flash;
  animation-duration: 2s;
}

button.cta{
  padding: 10px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 100%;
}

button.subscribe{
  padding: 10px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 130px;
}

button.kickstart{
  padding: 10px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 130px;
}

button.video{
  background-color: #fff;
  color:#181818;
  margin-left: 3%;
  width: 140px;
  padding: 10px;
  font-weight: 900;
}

button.video:hover{
  background-color: #1bd190;
  color: #fff;
}

button.articles{
  padding: 10px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 350px;
}

button.cta:hover{
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

button.k-b{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -.02em;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #1cbb82;
    padding: 16px 5px;
    transition: .2s;
    margin-bottom: 0;
}

button.k-b:hover{
  background-color: #1cbb82;
  color: #fff;
  transition: all 2s ease;
}

button.search{
  height:40px;

}

/* h2.learncrypto{
font-size: 32px;
font-weight: 600;
line-height: 37px;
color:#fff;
} */

img.about{
  width: 400px;
  margin-left: 12%;
}

/* .course{
  margin-left: 5%;
} */

.courses-content{
  margin-top: 5%;
}

.course-card{
  margin-bottom: 5%;
  border-color: #B1E1FF;
  padding: 22px;
  background: #fff;
  box-shadow: 0 100px 80px rgb(70 125 249 / 4%), 0 41.7776px 33.4221px rgb(70 125 249 / 3%), 0 22.3363px 17.869px rgb(70 125 249 / 2%), 0 12.5216px 10.0172px rgb(70 125 249 / 2%), 0 6.6501px 5.32008px rgb(70 125 249 / 2%), 0 2.76726px 2.21381px rgb(70 125 249 / 1%);
}

.course-card:hover {
  background-color: #007aff;
  color:#fff;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

ul.courses{
  list-style: none;
  padding: 10px;
  margin-top: 20px;
}

li.course-list{
  margin-bottom: 10px;
  opacity: 0.6;
}

.course-card:hover li.course-list{
 opacity: 1;
}

.btc-img{
  width: 300px;
}

.mission-paragraphs{
  opacity: 0.6;
  margin: 0 20px;
}

i{
  color: #007aff;
}

i:hover{
  color: #1bd190;
   animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/* Glossary */
.glossary-container{
  margin-top: 3%;
}
.bitcoin{
   animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  width: 400px;
  height: 400px;
}

.h1-glossary{
  font-weight: 400;
  line-height: .94;
  letter-spacing: -.03em;
  font-size: 74px;
   letter-spacing: 2px;
}

/* Why Crypto Section */

h2.ultimate{
  font-size: 32px;
  line-height: 100%;
  padding: 0 15px;
  margin-bottom: 29px;
  font-weight: 400;
  color: #181818;
}

.bitcoin-time{
  width: 700px;
  height: 300px;
-webkit-box-shadow: 3px 0px 13px -7px #ABD9FF;
-moz-box-shadow: 3px 0px 13px -7px #ABD9FF;
box-shadow: 3px 0px 13px -7px #ABD9FF;
margin-bottom: 10px;
overflow: hidden;
}

.ice-cube{
  width: 454px;
  width: 308px;
  display: block;
  margin: auto;
}

.whycrypto-container{
background: #efddd4;
margin: auto;
width: 80%;
border-radius: 16px;
padding: 15px;
}

.LearnBanner{
  width: 240px;
  height: 240px;
}

button.learn{
   padding: 10px 40px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 60%;
}

.usdollar{
  width: 600px;
  -webkit-box-shadow: 3px 0px 13px -7px #ABD9FF;
-moz-box-shadow: 3px 0px 13px -7px #ABD9FF;
box-shadow: 3px 0px 13px -7px #ABD9FF;
margin-bottom: 10px;
}

.understand-crypto{
  width: 480px;
  height: 285px;
  display: block;
  margin: auto;
}

/* About Section*/
.about-us{
  text-align: center;
}

.details{
  margin-top: 4%;
  /* margin-left: 6%; */
}

.top-secret{
  width: 300px;
  height: 300px;
  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/* Tool Section */
.redierction:hover{
  color:#1bd190
}

.blockchain-logo{
  width: 273px;
  height: 29.9px;
  display: block;
  margin: auto;
}
.etherscan-logo{
  width: 132.14px;
  height: 29.99px;
  display: block;
  margin: auto;
}
.coinigy-logo{
  display: block;
  margin: auto;
  width: 76.25px;
  height: 30px;
}

.tradedash-logo{
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}

.tradingview-logo{
  display: block;
  margin: auto;
  width: 51.33px;
  height: 30px;
}

.Cryptowatch-logo{
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
}

.coinmarketcap-logo{
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
}

.cryptocompare-logo{
  display: block;
  margin: auto;
  width: 43.24px;
  height: 30px;
}

.Graphana-logo{
  width: 182.75px;
  height: 29.99px;
  display: block;
  margin: auto;
}

.txstats-logo{
  display: block;
  margin: auto;
  width: 33.19px;
  height: 30px;
} 

.tools-card{
  margin-bottom: 5%;
  border-color: #B1E1FF;
  background: #fff;
  box-shadow: 0 100px 80px rgb(70 125 249 / 4%), 0 41.7776px 33.4221px rgb(70 125 249 / 3%), 0 22.3363px 17.869px rgb(70 125 249 / 2%), 0 12.5216px 10.0172px rgb(70 125 249 / 2%), 0 6.6501px 5.32008px rgb(70 125 249 / 2%), 0 2.76726px 2.21381px rgb(70 125 249 / 1%);
  border-radius: 7px;
}

button.visit-site{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.02em;
    margin: 0;
    flex-shrink: 0;
    /* opacity: 0; */
    height: 38px;
    color: #181818;
    background: #fff;
    border: 2px solid #1cbb82;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

.tools-card:hover button.visit-site{
   opacity: 1;
   transition: all 1s ease
}

button.visit-site:hover{
   background: #1cbb82;
   color:#fff;
}


.tool-visit{
   color: #1c96eb;
  text-align: center;
}

.tool-visit:hover{
  color:#1cbb82;
}


a{
  text-decoration: none;
}
/* BLOG */
.blog-card{
    width: 50%;
    display: inline-block;
    position: relative;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 20px 20px rgb(70 125 249 / 4%), 0 41.7776px 33.4221px rgb(70 125 249 / 3%), 0 22.3363px 17.869px rgb(70 125 249 / 2%), 0 12.5216px 10.0172px rgb(70 125 249 / 2%), 0 6.6501px 5.32008px rgb(70 125 249 / 2%), 0 2.76726px 2.21381px rgb(70 125 249 / 1%);
    text-decoration: none;
    transition: .2s;
    margin: 60px 10%  3px 10%;
    padding: 10px;
}

.pagination-nav{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px 0px;
}

/* ACADEMY*/
.academy-header:hover, .nav:hover{
  background-image: url("../public/background.png");
}

h1.wta{
  font-size: 80px;
  font-weight: 900;
  padding-top: 5%;
  text-align: center;
  letter-spacing: .025em;
  animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}

.course-card1{
  background-color: #2769ff;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 0px 0px 42px 36px;
  margin-top: 1%;
  overflow: hidden;
}

.course-card1:hover{
  background: radial-gradient(circle 20vmax at var(--cursorX, -100%) var(--cursorY, -100%), transparent 0, rgba(39, 105, 255, 0.5) 50%, #2769ff 100%);
}

.navbar-collapse{
  justify-content: flex-end;
  font-size: 18px;
  padding-right: 10px;
}

button.sign-in{
    flex-shrink: 0;
    color: #2769ff;
    background: #dfe9ff;
    border-radius: 3.75rem;
    border: none;
    padding: 3px 20px;
}

button.sign-in:hover{
    background-color: #2769ff;
    color:#fff
}
.academy1{
  width: 344px;
  height: 300px;
  margin: 20px;
}

.academy-details{
  background-color: #5181f1;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 20%;
  font-size: 14px;
  display: inline;
  margin-left: 8px;
}

.academy-button{
  background: #fff;
  border-radius: 46px;
  box-shadow: #fff;
  color: #ffffff;
  font-size: 20px;
  padding: 19px 39px 21px 40px;
  text-decoration: none;
  display: block;
  margin: 15px 0;
  color:#007aff;
  border: none;
}

.academy-button:hover {
  background: #F9F9F9;
  text-decoration: none;
}

.FAQ-bitcoin{
  background-color: #141821;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 0px 0px 42px 36px;
  -webkit-border-radius: 0px 0px 42px 36px;
  -moz-border-radius: 0px 0px 42px 36px;
  overflow: hidden;
}
.FAQ1{
 text-align: center;
 margin: 10% 0;
}
.join-channel{
   background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #0a090a;
  padding: 16px 28px 16px 27px;
  text-decoration: none;
}

button.all-courses{
   padding: 10px;
  margin-left: 1%;
  background-color: #5181f1;
  width: 350px;
}

button.all-courses:hover{
  background-color: #EEEEEE;
  color:#181818;
}


#library:hover{
   background-image: url("../public/background.png");
}

h1.library{
    position: relative;
    margin-bottom: 2rem;
    font-size: 6.5rem;
    font-weight: 400;
    line-height: 1.2;
}

h2.materials{
    position: relative;
    font-size: 1.125rem;
    color: #8a8c90;
    font-weight: 400;
    line-height: 1.2;
}

.academy-img{
  height: 200px;
  border-radius: 0px 0px 22px 21px;
  object-fit: cover;
}

/* COURSES-PAGE */
.courses-page{
  background: linear-gradient(to bottom, white 25%, #f6f7f9 50%, #f6f7f9) no-repeat;
}

.course-container{
  border-radius: 40px 44px 22px 30px;
  -webkit-border-radius: 40px 44px 22px 30px;
  -moz-border-radius: 40px 44px 22px 30px
}

.course-img{
  width: 100%;
  margin-bottom: 1.125rem;
  height: 50vh;
  border-radius: 28px 27px 22px 30px;
  -webkit-border-radius: 28px 27px 22px 30px;
  -moz-border-radius: 28px 27px 22px 30px;
  }

.module-header{
   letter-spacing: .025em;
   font-weight: 400;
   font-size: 1.75rem;
  }

.lesson-count{
  position: relative;
  top: 50px;
  opacity: 0.6;
  letter-spacing: .025em;
  }

.lesson-details{
   border-radius: 16px 13px 20px 24px;
  -webkit-border-radius: 16px 13px 20px 24px;
  -moz-border-radius: 16px 13px 20px 24px;
   background-color: #EEEEEE;
   padding: 20px;
   font-size: 16px;
   margin-bottom: 1.125rem;
   transition: color .3s;
   line-height: 1.2;
}

.crypto-stack{
  width: 100px;
  height: 100px;
}

.course-details{
  height: 50vh;
  overflow-y: scroll;
}

.welcome-header{
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

.play-video{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    color: #fff;
    background-color: #303643;
    border-radius: 100%;
    transition: background-color .3s;
}
/* Crypto=Basics */
.crypto-basics{
  width:100%;
  margin: 60px 0;
}

/* Forex */
.header-financials{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -.04em;
  color: #181818;
}

.banner{
  display: block;
  margin: 8% auto;
  overflow: hidden;
}

.btn-financials{
  background: #1bd190;
  border: none;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 19px 25px;
  text-decoration: none;
  margin-top: 5%;
}

.understand-p{
    line-height: 140%;
    letter-spacing: -.02em;
    color: #747474;
    margin: 0;
    font-size: 20px; 
}

.provide-p{
    line-height: 140%;
    letter-spacing: -.02em;
    color: #747474;
    margin: 0;
    font-size: 20px;
}

.cont-provision{
  margin-bottom: 5%;
  border-color: #B1E1FF;
  border-radius: 14px;
  /* padding: 22px; */
  background: #fff;
  box-shadow: 0 100px 80px rgb(70 125 249 / 4%), 0 41.7776px 33.4221px rgb(70 125 249 / 3%), 0 22.3363px 17.869px rgb(70 125 249 / 2%), 0 12.5216px 10.0172px rgb(70 125 249 / 2%), 0 6.6501px 5.32008px rgb(70 125 249 / 2%), 0 2.76726px 2.21381px rgb(70 125 249 / 1%);
}

.prov-img1{
  object-fit: cover;
  border-radius: 21px 0px 0px 10px;
  width: 100%;
}

.provision-h3{
    margin: 40px 0;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -.04em;
    font-weight: 600;
}

.provision-p{
  line-height: 170%;
  letter-spacing: -.04em;
  min-width: 320px;
  font-weight: 400;
  font-size: 16px;
  color: #181818;
}

/* Media Querry */

@media (max-width:1200px){

  body{
    text-align: center;
  }

  #mission{
    margin-top: 9%;
  }
  .learn-img{
    display: none;
  }
  button.articles{
    width: 90%;
  }
  button.kickstart{
    width: 100%;
  }

  button.video{
    width: 98%;
    margin-top: 3%;
    border-color: #1cbb82;
  }

  img.about{
  width: 300px;
  margin-right: 5%;
  margin-top: 5%;
}

.btc-img{
  width: 300px;
   margin-bottom: 4%;
}

.course-card:hover{
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

h4{
  font-size: 15px;
  font-style: italic;
}

.mission-paragraphs{
   text-align: left;
}

input.cta{
  width: 70%;
  margin-bottom: 3%;
}

button.cta{
    padding: 10px;
    margin: auto;
    background-color: #1bd190;
    width: 100%;
    display: block;
}

button.subscribe{
    padding: 10px;
    margin: auto;
    background-color: #1bd190;
    width: 130px;
    display: block;
}

a{
  text-decoration: none;
}

.bitcoin-time{
  width: 400px;
  height: 200px;
}

button.learn{
  width: 100%;
}

.usdollar{
  width: 300px;
}

.understand-crypto{
  width: 100%;
  height: 240px;
}

button.visit-site{
  width:100%
}
button.visit-site{
    opacity: 1;
}

h1.wta{
  font-size: 40px;
}

.academy-button{
  margin: 15px auto 20px auto ;
}

h1.library{
  font-size: 40px;
}
.navbar-collapse{
text-align: right;
}
.academy-content{
  font-size: 14px;
}
.module-header{
   font-size: 18px;
  }
.lesson-count{
  display: none;
}
.welcome-header{
  font-size: 20px;
}
.crypto-stack{
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
}
.course-img{
  width: 100%;
  height: 90%;
  margin-bottom: 1.125rem;
  border-radius: 28px 27px 22px 30px;
-webkit-border-radius: 28px 27px 22px 30px;
-moz-border-radius: 28px 27px 22px 30px;
  }

  .course-details{
  height: 100%;
  overflow-y: none;
}

.prov-img1{
  width: 100%;
}

}