body {
  margin: 0;
  padding: 0;
  /* color: #fff; */
  font-family:"Montserrat";
}

#about-crypto{
  margin-top: 10%;
   background-image: url("../public/background.png");
}

#learn{
  background-image: url("../public/background.png");
  margin-top: 10%;
}

#bitcoinfeatures{
  margin-top: 10%;
}

#Features{
  background-image: url("../public/background.png");
  margin-top: 10%;
  margin-left: 6%;
}

#articles{
  margin-top: 10%;
}

#mission{
  margin-top: 10%;
}

.nav-header{
  background-color: #007aff;
}
/* .navbar a{
  color:#fff
} */

.nav-list{
  padding-left: 30%;
}

.Hero-Section{
  background-color: #007aff;
  background-position: top;
  position: relative;
  width: 100%;
  text-align: center;
  /* margin: 0; */
  /* padding: 0; */
  margin-top: 0.1%;
  background-image: url("../public/background.png");
}

small{
  font-size: 20px;
}

.learn-img{
  position: absolute;
  left: 0;
  margin-top: -100px;
  /* text-align: center; */
  width: 312px;
}

input.search{
  height: 35px
}

input.cta{
  border-radius: 10px;
  /* border: 0; */
  border-style: none;
  border-color: #007aff;
  width: 30%;
  height: 50px;
  padding-left: 20px;
  color: grey;
}

h1.cta{
  font-weight: 800;
  font-size:46px;
  font-family: "cinzel";
  color: #fff;
}

button.cta{
  padding: 10px;
  margin-left: 1%;
  background-color: #1bd190;
  width: 130px;
}

button.search{
  height:40px;

}

/* h2.learncrypto{
font-size: 32px;
font-weight: 600;
line-height: 37px;
color:#fff;
} */

img.about{
  width: 400px;
  margin-left: 12%;
}

.course{
  margin-left: 5%;
}

.courses-content{
  margin-top: 5%;
}

.course-card{
  margin-bottom: 5%;
  border-color: #B1E1FF;
    padding: 22px;
    background: #fff;
    box-shadow: 0 100px 80px rgb(70 125 249 / 4%), 0 41.7776px 33.4221px rgb(70 125 249 / 3%), 0 22.3363px 17.869px rgb(70 125 249 / 2%), 0 12.5216px 10.0172px rgb(70 125 249 / 2%), 0 6.6501px 5.32008px rgb(70 125 249 / 2%), 0 2.76726px 2.21381px rgb(70 125 249 / 1%);
}

.course-card:hover{
  background-color: #007aff;
  color:#fff;
}

.btc-img{
  width: 500px;
}

.articles{
  margin-left:10%;
}

button.articles{
  margin-left: 47%;
}


.mission{
  margin-left: 5%;
}
/* Media Querry */

@media(max-width:1200px){
  .learn-img{
    display: none;
  }
}


